@import 'tailwindcss';

@utility container {
	padding: 0 1rem;
	margin: 0 auto;
}

:root {
	--background: #020817;
	--foreground: #ffffff;
	--primary: #096b68;
	--font-family: 'Poppins', sans-serif;
	--border-color: #a8b3cf;
}

@theme {
	--color-background: #020817;
	--color-foreground: #ffffff;
	--color-primary: #096b68;
	--color-border: #a8b3cf;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-family);
	scroll-behavior: smooth;
}
