---
import Icon from '@/components/icons/index.astro';
import Section from '@/components/Section.astro';
import SectionHeader from '@/components/SectionHeader.astro';
import { BLOGS, ExternalLinks } from '@/lib';
import BlogCard from './BlogCard.astro';
const delayClasses = ['animate-delay-100', 'animate-delay-200'];
---

<Section id="blogs" label="Blog section">
	<SectionHeader title="Blog" subtitle="Thoughts and tutorials" />

	<ul class="grid md:grid-cols-2 gap-5 list-none p-0 m-0">
		{BLOGS.map((blog, index) => <BlogCard blog={blog} delayClass={delayClasses[index % 2]} />)}
	</ul>

	<div class="flex justify-center mt-8">
		<a
			href={ExternalLinks.BLOG}
			target="_blank"
			rel="noopener noreferrer"
			class="btn-secondary inline-flex items-center gap-2"
		>
			View All Blogs
			<Icon name="arrow-right" size={16} />
		</a>
	</div>
</Section>
