---
import { APP_NAME } from '../lib';
const year = new Date().getFullYear();
const copyright = `© Copyright ${APP_NAME} ${year}`;
---

<footer
	role="contentinfo"
	aria-label="Footer"
	class="footer container py-4"
>
	<p
		aria-label="Copyright"
		class="footer-text text-center"
	>
		{copyright}
	</p>
</footer>
