---
import { APP_NAME } from '../lib';
const year = new Date().getFullYear();
const copyright = `© Copyright ${APP_NAME} ${year}`;
---

<footer class="app-footer container py-4">
	<p class="footer-text text-center">{copyright}</p>
</footer>
