---
import Logo from '../assets/logo.svg';
---

<header class="container flex justify-between items-center">
	<Logo fill="currentColor"/>
	<nav>
		<ul class="flex items-center gap-4">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/about">About</a>
			</li>
		</ul>
	</nav>
</header>

