---
interface Props {
	title: string;
	subtitle?: string;
	class?: string;
}

const { title, subtitle, class: className } = Astro.props;
---

<header class:list={['flex flex-col gap-2', className]}>
	<h2 class="animate-on-scroll section-title">{title}</h2>
	{subtitle && <p class="animate-on-scroll animate-delay-100 section-subtitle">{subtitle}</p>}
</header>
