---
interface Props {
	id: string;
	label: string;
	class?: string;
}

const { id, label, class: className } = Astro.props;
---

<section
	id={id}
	class:list={["section", className]}
	aria-label={label}
>
	<div class="container mx-auto flex flex-col gap-12">
		<slot />
	</div>
</section>

