---
import AboutMe from './AboutMe.astro';
import MyExperiences from './MyExperiences.astro';
---

<div
	role="region"
	aria-label="About"
	class="about grid grid-cols-1 md:grid-cols-2 gap-4"
>
	<AboutMe />
	<MyExperiences />
</div>
